<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div id="index" class = "container center">
	<a href="/students"><button class="btn btn-lg btn-success"> Students</button></a>
	<a href="/teachers"><button class="btn btn-lg btn-success"> Teachers</button></a>

	<h1 id = "heading"> Expert Events CO.WLL </h1>
	
</div>
	<ul class="slideshow">
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
	</ul>
</body>
</html>